.navbar {  
border-color: darkolivegreen;
 border-radius: 0% 0% 1% 0%;
 border-style: solid;
 background-image: url('/pics/bee2.jpeg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
body {
    margin: 2% 2% 100% 2%;
    border-style: solid;
    border-color: darkolivegreen;
    border-radius: 1%;
}
.questionDiv {
    background-color: aqua;
    border-color: darkolivegreen;
    border-radius: 0% 0% 1% 0%;
    border-style: solid;
}
#mainDiv{
    background-image: url('/pics/bee1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    margin: 0% 0% 0% 0%;
}
