body {
  background-color: black;
}
#everything {
  margin: 2%;
  border-width: 2px;
  border-color: yellow;
  border-style: solid;

}
#start-btn  {
  border:solid;
  border-color: yellow;
  padding: 3% 2%;
  text-align: center;
  display: inline-block;
  font-size: 11px;
  background-color: black;
  color: yellow;
  border-radius: 45%;
}
.highScoreBtn {
  border:solid;
  border-color: yellow;
  padding: 3% 2%;
  text-align: center;
  display: inline-block;
  font-size: 11px;
  background-color: black;
  color: yellow;
  border-radius: 45%;

}
.scoreList {
  text-align: center;
}
#everything {
  background-image: url('/pics/bee1.jpg');
  background-repeat: round;
  background-attachment: fixed;
  background-size: cover;
  opacity: .7;
}
#navbarTimer {  
  text-align: center;
  z-index: 2;
  border-color:black;
  border-radius: 0% 0% 1% 0%;
  border-style: dashed;
  border-width: 2px;
  background-color: black;
  opacity: .7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  border-radius: 75%;
}
  .frindgeColor {
    padding: 4px;
   

  }
  .startBtn {
    background-color: black;
    opacity: .7;
    color: white;
    border-radius: 40;
  }
  